@model IEnumerable<Restaurantee.Models.mesa>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.numeroMaximoDePersonas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numeroMaximoDePersonas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ubicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idMesa">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idMesa">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idMesa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
